<div class="row">
    <div class="thumbnail text-center">
        <img src="/sarah.png" alt="" class="img-responsive">
        <div class="caption">
            <h1><strong>Sarah Burnand</strong></h1>
        </div>
    </div>
</div>

<div class="row">
    <p><strong>Sarah Smile</strong></p>
    <br>
    <p>My mother named me after a Hall & Oats song.</p>
    <br>
    <p>I was about 5 or 6 years old when it happened. During this time, in the mid 90s, ‘Nsync and Spice Girls were at the top of their game. Giant billboards lined the streets promoting these big time pop acts. Well, yes I did listen to these overtly advertised personas but I never felt the spark of what music could really do for me. It was at this young age, I was spying on my older sister and her best friend as they listened to music and talked about the boys in their class, that this sound hit me. I started to hear these heavy guitars and lead vocals that made me immediately give up my hiding place behind the door. They let me in and we all sat and listened to No Doubt’s “Tragic Kingdom”. Two weeks later, with a smile on my face, I took the money from allowance and as many odd jobs around the house my mom would allow me to do, and walked my happy little ass into that Warehouse down the street. That’s when I bought the first two albums that would shape me as a young girl. Along with “Tragic Kingdom”, I also purchased Garbage’s “Version 2.0”. The power of these female rockers filled my ears for the years to follow.</p>
    <p>That was until at about 12, when my mom (coolest woman in the world) took me to my first concert. The lineup was amazing for a young female rocker like myself, The Distillers then Garbage then No Doubt. All women, who took this genre in their hands and made it their own. These women had become my best friends through their albums over the years and seeing them live lit a fire in me.</p>
    <p>If I could say one thing to Gwen Stefani it would be “Hey, so I know I’m a super nerd. But, thank you for being my best friend when I felt alone. Thank you for always evolving your writing. In those times, you helped me grow too. Also, this one time in Mexico my best friend ran into you and said ‘hey my best friend, Sarah Burnand is your biggest fan’, and I still hold onto that. #thankyoukendahl</p>
    <p>This fire led to my discovery of other incredible women in music such as Kathleen Hanna  of Bikini Kill. This woman has her own holiday in Portland. She created a generation. What else was I living to do? It was the first time I saw feminism and music set in motion. With the combination of all of these incredible women in my life,I would not be silenced. I would not be demeaned. Music took whatever it wanted from me. Yet, I took more from it. From that first concert, I was hooked. It was a stronger high than any drug I could find. So, here I am still craving more.</p>
</div>
<br>
<br>
    <div class="row">
      <table>
				<tr>
          <div class="col-lg-6">
            <h2 style="padding-left: 6%;">
            <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:sarahburnand@gmail.com"  target="_blank">sarahburnand@gmail.com</a>
          </h2>
        </div>
        <div class="col-lg-6">
            <h2 style="padding-left: 20%;">
              <span class="glyphicon glyphicon-phone"></span> Cell<a href="tel:8586995303"> +1(858) 699-5305
              </h2>
          </div>
				</tr>
		</table>
  </div>
    </div>
