// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field {
  color: black;
}

.th {

  padding-left: 100px !important;
  padding-bottom: 20px;
}

.new {
  // padding-left: 200px;
  font-size: 15pt;
  border-color: yellow;
  border-style: outset;
  margin-left: 200px;
  margin-right: 1100px;
  text-align: center;

}
