// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fc-state-highlight {
  // color: blue !important;
  background-color: orange !important;

}



.live_feed a {
  color: rgb(250,255,125);
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none !important;
  background-color: rgb(104,173,144) !important;

}

  a:visited {
    color: rgb(254,255,125) !important;
    text-decoration: none !important;
    background-color: rgb(104,173,144) !important;

  }

  a:hover {
    color: rgb(254,255,125) !important;
    text-decoration: none  !important;
    background-color: rgb(104,173,144) !important;

  }

.live_feed {
  color: rgb(254,255,125) !important;
}
